*{
  margin: 0;
  padding: 0;
}

.demo-logo {
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 100%; 
}


.demo-logo img {
  width: 31px;
  border-radius: 50%;
}

.my-2{
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;

}